*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#heading {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  #menu-bar {
    height: 0;
  }
  #menu-button {
    display: block;
  }
}

@media (min-width: 768px) {
  #menu-bar {
    height: auto;
  }
  #menu-button {
    display: none;
  }
}

#menu-bar.show {
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button,
input[type="submit"] {
  margin: 2px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button,
input[type="submit"]:hover {
  background-color: #444;
}

h2 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bolder;
}

textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#login-box,
#signup-box {
  margin: auto;
  border: 3px solid teal;
  max-width: 450px;
  padding: 20px;
  border-radius: 7px;
}

.post-box{
	margin: 30px;
	padding: 20px;
	border: 3px solid grey;
	border-radius: 10px;
	background-color: bisque;
}

#signup-box {
  display: none;
}

#login-button {
  display: none;
  text-align: center;
}

#signup-button {
  display: block;
  text-align: center;
}

#profile {
  margin: 20px;
}